<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!-- escaping in xml https://stackoverflow.com/a/1091953/5278310 -->
<!-- To validate plist plutil <file-path> -->
<!-- To load plist: first launchctl unload <file-apth> & launchctl load <file-path> -->

<dict>
    <key>Label</key>
    <string>com.bra1ndump.kill-my-mac-at12am</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/kirilldubovitskiy/projects/kill-my-mac-at-12am/kill-if-in-dead-zone.sh</string>
    </array>

    <key>StandardErrorPath</key>
	<string>/Users/kirilldubovitskiy/projects/kill-my-mac-at-12am/test-std-out-and-error</string>
	<key>StandardOutPath</key>
	<string>/Users/kirilldubovitskiy/projects/kill-my-mac-at-12am/test-std-out-and-error</string>

    <!-- Debug - run every 10 minutes - minimum frequency -->
    <key>StartInterval</key>
    <integer>10</integer>

    <!-- <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>17</integer>
        <key>Hour</key>
        <integer>0</integer>
    </dict> -->
</dict>
</plist>