<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <!-- Source: https://github.com/bra1nDump/kill-my-mac -->

        <key>Label</key>
        <string>com.bra1ndump.kill-my-mac</string>

        <!-- TODO: Needs to be templated probably depending on how brew is installed -->

        <!-- Run every 60 seconds - minimum frequency is 10 seconds -->
        <key>StartInterval</key>
        <integer>60</integer>

        <!-- Run the script -->
        <key>ProgramArguments</key>
        <array>
            <string>{{PROJECT_DIR}}/shutdown-job.sh</string>
        </array>

        <!-- Configure logs -->
        <key>StandardErrorPath</key>
        <string>{{PROJECT_DIR}}/test-std-out-and-error</string>
        <key>StandardOutPath</key>
        <string>{{PROJECT_DIR}}/test-std-out-and-error</string>
    </dict>
</plist>